html
  head
    title mapsaw (node express pug)
    script(src='dragdrop.js')
  body(class=className)
    h1 MAPSAW 
    h3 node express pug
    p mapsaw map tiles from 
    a(href='https://tileserver.maptiler.com/nasa/') maptiler.com
    
    - var id = 100
    p DEST
    table(style="border-collapse:collapse")
      each r in images1
        tr
          each c in r
            td(style="padding:0")
              if c
                img(id=id++ src=c height=80 width=80)
              else
                img(id=id++ src='' height=80 width=80
                  ondragover="on_dragover(event)"
                  ondrop="on_drop(event)"
                ) 
    p SOURCE 
    table(style="border-collapse:collapse")
      each r in images2
        tr
          each c in r
            td
              img(id=id++ src=c height=80 width=80 
                ondragstart="on_dragstart(event)"
              )

    // include the Glitch button to show what the webpage is about and to make it easier for folks to view source and remix
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    script(src="https://button.glitch.me/button.js")