html
  head
    title mapsaw (node express pug)
    script(src='dragdrop.js')
  body(class=className)
    h1 MAPSAW 
    h4 node express pug
    h5 maps from maptiler nasa
    p TO
    - var id=1000
    table
      each r in images1
        tr
          each c in r
            td
              if c
                div
                  img(id=id++ src=c height=80 width=80)
              else
                  img(id=id++ src='' height=80 width=80 
                      ondragenter="odragenter(event)"
                      ondragover="odragover(event)"
                      ondrop="odrop(event)"
                    ) 
    p FROM 
    table
      each r in images2
        tr
          each c in r
            td
              img(id=id++ src=c height=80 width=80 
                draggable=true 
                ondrag="odrag(event)"
                ondragstart="odragstart(event)"
              )

    //include the Glitch button to show what the webpage is about and to make it easier for folks to view source and remix
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>

    script(src="https://button.glitch.me/button.js")